# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
signals.tar
final2/Makefile
final2/shell.c
final2/shell.h
final2/convert/Makefile
final2/convert/shell.c
final2/convert/shell.h
shell/Makefile
shell/shell
shell/shell.c
shell/shell.h
shell/shell.dSYM/Contents/Resources/DWARF/shell
shellXcode/kshell/kshell.xcodeproj/xcuserdata/bezoadam.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
shellXcode/shell/shell.xcodeproj/project.xcworkspace/xcuserdata/bezoadam.xcuserdatad/IDEFindNavigatorScopes.plist
shellXcode/shell/shell.xcodeproj/xcuserdata/bezoadam.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
shellXcode/shell/shell.xcodeproj/xcuserdata/bezoadam.xcuserdatad/xcschemes/shell.xcscheme
signals/example.c
signals/Makefile
signals/signals.doc
signals/signals.txt
